*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#420109,#90bafc);
    color: #fff;
    padding: 10px;
}
.calculator{
    width: 100%;
   max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
    
}
.calculator h1{
    font-size: 60px;

}
.calculator h1 span{
    color: #ffff76;
}
.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(203, 6, 255, 0.3));
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 50px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 18px;
    position: relative;
}
.input-box button{
    background: #ffff76;
 color: #333;
    margin-right: 20px;
    padding: 15px 30px;
    border: 0;
    outline: 0;
    border-radius: 5px;
   cursor: pointer;
   font-weight: 700;
}
.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    position: absolute;
    background-position: calc(100% -10px);
    background-size: 30px;
    cursor: pointer;
    height: auto;
}
#result{
    font-size: 24px;
}
#result span{
    color: #ffff76;
}